html, body, cityDetail, detailContent, detail
{
   height: 100%;
   width: 100%;
}

body
{
	overflow: hidden;
	position: relativ
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger 
{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.mainListItems
{
	width: 97%;
	height: 50px;
	border: 1px solid #CCCCCC;
	opacity: 1;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0px 1px 0px 1px #CCCCCC;
}

.mainListItems:active
{
	box-shadow: inset 0px 1px 0px 1px #CCCCCC;
}

.mainListItems:after
{
	opacity: 0.5;
}

.listItemImage
{
	float: left;
	height: 100%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.listItemCityName
{
	float: left;
	height: 100%;
	width: 55%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 9px;
	opacity: 1;
}

.listItemTemp
{
	float: right;
	border-left: 1px solid #CCCCCC;
	height: 100%;
	width: 24%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.dayTemp
{
	float: left;
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 9px;
	opacity: 1;
}

.dayName
{
	float: left;
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 9px;
	opacity: 1;
}

.dayImg
{
	float: left;
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.day
{
	clear: both;
	width: 100%
}

#yesSearch{
	text-decoration: underline;
}

#searchResults
{
	display: none;
	font-size: 17px;
	width: 100%;
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px #CCCCCC;
}

#searchResults:after
{
	opacity: 0.5
}

#searchResults li
{
	width: 100%;
	height: 30px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: left;
	border-bottom: 1px solid #CCCCCC;
	box-shadow:0px 1px #CCCCCC;
}

#searchResults li div
{
	margin-left: 5px;
	width: 90%;
	float: left;
}

#locationListWraper
{
	position: fixed;
	bottom: 0;
	overflow-y: scroll;
	width: 93%; 
	height: 75%;
	display:block;
}

#leftCity
{
	border-right: 1px solid #CCCCCC;
	width: 47%;
	height: 100%;
	float: left;
	padding: 5px;
}

#rightCity
{
	width: 44%;
	height: 100%;
	float: left;
	padding: 5px;
}

#dailyInformation
{
	height: 120px;
	width: 100%;
	float: left;
}

#days
{
	height: 60%;
	width: 100%;
	float:left;
	overflow-y: auto;
}

.day
{
	height: 45px;
	width: 95%;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	opacity: 1;
	border-radius: 5px;
	box-shadow: 0px 1px 0px 1px #CCCCCC;
}

.day:after
 {
	opacity: 0.5;
 }
 
 .dayName
 {
	font-size: 20px;
	width: 10%;
	height: 100%;
	padding: 5px;
 }
 
 .dayImg
 {
	width: 35%;
	height: 100%;
 }
 
 .dayTemp
 {
	width: 20%;
	height: 100%;
	float: right;
	padding-right: 10px;
 }
 
 .detailImage
 {
	float: left;
	width: 30%;
	height: 20%;
 }
 
 .detailImage img
 {
	width: 80%;
 }
 
 .detailTemp
 {
	float: left;
	width: 70%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
 }
 
 .detailCity
 {
	float: left;
	width: 100%;
	height: 30%;
	font-size: 19px;
 }