.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger 
{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.mainListItems
{
	width: 100%;
	height: 50px;
	border: 1px solid #CCCCCC;
	opacity: 1;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0px 1px 0px 1px #CCCCCC;
}

.mainListItems:active
{
	box-shadow: inset 0px 1px 0px 1px #CCCCCC;
}

.mainListItems:after
{
	opacity: 0.5;
}

.listItemImage
{
	float: left;
	height: 100%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.listItemCityName
{
	float: left;
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 9px;
	opacity: 1;
}

.listItemTemp
{
	float: right;
	border-left: 1px solid #CCCCCC;
	height: 100%;
	width: 19%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.dayTemp
{
	float: left;
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 9px;
	opacity: 1;
}

.dayName
{
	float: left;
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 9px;
	opacity: 1;
}

.dayImg
{
	float: left;
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.day
{
	clear: both;
}

#yesSearch{
	text-decoration: underline;
}

#searchResults
{
	font-size: 17px;
	width: 100%;
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px #CCCCCC;
}

#searchResults:after
{
	opacity: 0.5
}

#searchResults li
{
	width: 100%;
	height: 30px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: left;
	border-bottom: 1px solid #CCCCCC;
	box-shadow:0px 1px #CCCCCC;
}

#searchResults li div
{
	margin-left: 5px;
	width: 95%;
	float: left;
}

#searchResults li img
{
	float:right;
}